{% extends "base.html" %}
{% block titulo %} Lista de hojas {% endblock %}

{% block contenido %}
<div class="card mt-4">
    <div class="card-header fw-bold">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_hojita' %}" role="button">Agregar nueva hoja</a>
    </div>
    <div class="card-body">
        <h4 class="card-title mb-4">Hojas Registradas</h4>
        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hoja in hojas %}
                    <tr>
                        <td>{{ forloop.counter }}</td>

                        <td>{{ hoja.name }}</td>
                        <td>${{ hoja.price }}</td>
                        <td>
                            {% if hoja.imagen %}
                            <img src="{{ hoja.imagen.url }}" alt="{{ hoja.name }}"
                                style="max-width: 60px; height: auto;" class="img-thumbnail">
                            {% else %}
                            <span class="text-muted">Sin imagen</span>
                            {% endif %}
                        </td>
                        <td>{{ hoja.description }}</td>
                        <td class="text-center">
                            <a class="btn btn-info btn-sm" href="{% url 'editar_hojita' hoja.id %}"
                                role="button">Editar</a> |
                            <form action="{% url 'eliminar_hojita' hoja.id %}" method="POST" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center text-muted">No hay registros disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted small">
        Total de registros gestionados
    </div>
</div>
{% endblock %}